body {
    margin: 0;
    padding: 0;
    /* background: url(##/src/assets/img/fondo#png) no-repeat center top; */
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background:#282830;
  }

 #padre{
    width: 400px;
    height:45%;
    background:#EFF0F0;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #ADD9E7;
  }

#padre:hover{
    box-shadow: 10px 10px 20px #2E92A9;

}

#padre h1{
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }

#padre label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }

#padre button, input{
    width: 100%;
    margin-bottom: 20px;
  }

#padre input[type="text"], #padre input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

#padre button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background:rgb(200, 188, 172)	;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
  }

#padre button[type="submit"]:hover {
    cursor: pointer;
    background:#FF0022;
    color: #000;
  }

  #nv-pass, #nv-register{
    margin-bottom: 14px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
  }

.nv-pass, .nv-register{
  text-decoration: none;
}